<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236935409884-m0m14c0tvl4fu2q7hgh6vokfggac9nc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236935409884-m0m14c0tvl4fu2q7hgh6vokfggac9nc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDvzzRFTWQGof50kYTOSD2Qm5CVYW3mz_0</string>
	<key>GCM_SENDER_ID</key>
	<string>236935409884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.taska</string>
	<key>PROJECT_ID</key>
	<string>taska-abb10</string>
	<key>STORAGE_BUCKET</key>
	<string>taska-abb10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236935409884:ios:86c6c737a34091367fc419</string>
</dict>
</plist>